<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content={% flatpage.description %}>
	<meta name="keywords" content={% flatpage.keywords %}>
	<title>Метрошка фестиваль детского дворового футбола</title>
	<!-- <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=cyrillic,latin-ext" rel="stylesheet" type="text/css"> -->
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>
	<h1>Error!</h1>
	{% flatpage %}
</body>
</html>